<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Informação da vaga</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link rel="stylesheet" href="../../css/style.css">

</head>

<body>  
 <div class="container-fluid col-12">
  <header>
    <div class="row header justify-content-end">
      <nav class ="d-flex ">
       <ul class="second-menu">
         <li class="nav-item">
            <a class="nav-link" th:href="@{/anuncio}">Anúnciar</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href=""><img src="../../img/alerta2.png" alt=""> Contato</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" href=""><img src="../../img/alerta2.png" alt=""> Sobre nós</a>
         </li>
         <li class="nav-item">
           <a class="nav-link" th:href="@{/login}">Sair</a>
         </li>
       </ul>
     </nav>
   </div>
 </header>

 <div class="row">
  <div class="col-2">
  </div>

  <div class="col-5">
    <div>
      <h3>Estagiário</h3>
      <h5>Empresa MultiPick</h5>
    </div>
    <br>
    <div>
      <h6>Benéficios</h6>
      <p>
        Assistência odontológica |
        Assistência médica
      </p>
    </div>
    <br>
    <div>
      <h6>Descrição</h6>
      <h6>Responsabilidades:</h6>
      <p>
        Atender ligações receptivas de clientes.
        Solucionar dúvidas e prestar informações ao cliente referente a como comprar, prazo de entrega, meios de pagamento, e etc.
        Solucionar dúvidas referentes à plataforma Reclame Aqui.
      </p>
    </div>
    <div>
      <h6>Requisitos:</h6>
      <p>
        Ensino superior cursando;
        Pacote Office;
        Técnicas de Negociação
      </p>
    </div>
    <div>
      <h6>Informações da empresa:</h6>
      <p>
        <a href="#" class="card-link">www.multipick.net</a>
        <br>
        Local: Centro da cidade - nº 74
      </p>
    </div>
  </div>

  <div class="col-3">
    <div class="card" style="width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">MultiPick</h5>
        <h6 class="card-subtitle mb-2 text-muted">Estagiário</h6>
        <p class="card-text">Empresa de exelencia no mercado Brasileiro.</p>
        <button type="button" class="btn btn-primary">Cadastrar-se</button>
      </div>
    </div>
  </div>

  <div class="col-2">
  </div>
</div>

<div class="row">
 <nav class ="Main-Menu">
  <div class="hamburguer-menu">
    <div class="line line-1"></div>
    <div class="line line-2"></div>
    <div class="line line-3"></div>
  </div>
  <ul class="nav-list">
    <li class="nav-item">
      <a th:href="@{/index}" class="nav-link">Home</a>
    </li>
    <li class="nav-item">
      <a href="" class="nav-link"><img src="../../img/alerta2.png" alt=""> Perfil</a>
    </li>
    <li class="nav-item">
      <a th:href="@{/vagas}" class="nav-link">Vagas</a>
    </li>
    <li class="nav-item">
      <a th:href="@{/freelancer}" class="nav-link">Freelancers</a>
    </li>
    <li class="nav-item">
      <a th:href="@{/projeto}" class="nav-link">Projetos</a>
    </li>
    <li class="nav-item">
      <a th:href="@{/profissional}" class="nav-link">Orientação Profissional</a>
    </li>

  </ul>
</nav>
</div>
<footer>       
  <div class="row footer">             
    <p>Copyright © 2020 Talentos RJ. Todos os direitos reservados.</p>        
  </div>     
</footer>
</div>

<script src="../../js/main.js"></script>
</body>
</html>